{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h1>Login</h1>

   <main>
       <div class="justtext4">
           <h5>
               LOG IN
           </h5>
       </div>

       <div class="circle1"></div>
       <div class="login-form-container">
           <form method="POST" action="{% url 'login' %}">
             {% csrf_token %}
               <!-- <h1 class="form-title">
                   Регистрация
               </h1> -->
               <div class="form-fields">
                 <input type="text" name="username" placeholder="USERNAME"/>
                </div>
                <br>
                   <div class="form-field">
                     <input type="password" name="password" placeholder="PASSWORD"/>

               </div>
               <br>
               <div class="form-buttons">
                 <input class="btn btn-primary" type="submit" value="Login" />
               </div>
               <br>
               <p><a href="{% url 'signup' %}">you dont have account?</a></p>
           </form>
       </div>
   </main>

</body>



{% endblock %}
